* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(4, 1, 80);
  color: rgb(144, 248, 144);
}

.navtext > i {
  padding-right: 5px;
}

.navtext {
  animation: slideIn 3s forwards;
  transition: animation 3s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.entry {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
  padding: 25px 0;
  border-bottom: 2px solid rgba(111, 111, 111, 0.3);
}

.locationimage {
  width: 300px;

  border-radius: 15px 15px 15px 15px;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px 10px;
  padding: 0;
}

.location > i {
  padding-right: 5px;
  color: rgb(4, 1, 80);
}

.location {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

a {
  position: absolute;
  display: inline-block;
  color: rgb(111, 111, 111);
  text-transform: none;
  font-size: 12px;
  right: 10;
  top: 16;
}

.title {
  font-size: 40px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.dates {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 20px;
}

@media (max-width: 595) {
  a {
    position: static;
  }
}
